// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.project-row {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.project-name {
  width: 50%;
  margin-right: 5px;
  margin-left: 10px;
}

.project-delete, .project-show {
  width: 50px;
  margin: 2px;
}

.project-item::marker {
  font: 1.5rem "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
  margin-right: 15px;
}

.task-label {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500 !important;
}

.close-task-form {
  position: relative;
  left: 45%;
  border-radius: 5px;
}

.task-desc-input {
  width: 65%;
  margin: 5px;
  padding: 5px;
}

.hidden {
  display: none;
}