// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.task-row {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.task-desc {
  width: 50%;
  margin-right: 5px;
  margin-left: 10px;
}

.task-show {
  width: 50px;
}

.task-delete {
  width: 50px;
}

.task-item::marker {
  font: 1.5rem "Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
  margin-right: 15px;
}